* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace';

}

body {
    background-color: #2F4960;
    background-image: linear-gradient(to bottom right, #2f4960 10%, #103040);
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home {
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-color: #ffffff;
    border-radius: 16px;
}